/*     WEBART CSS     */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block; }

body {
    line-height: 1;
    background-color: #fff; 
    overflow: hidden;}

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

button{
    cursor: pointer;
    outline: none;}

:focus {
outline: none;
}

.none {
    display: none !important; }

.visible {
    visibility: hidden; }

.block {
    display: block; }

.inline {
    display: inline-block; }

.pointer {
    cursor: pointer; }

.underline {
    text-decoration: underline; }

.fixed {
    position: fixed; }

.absolute {
    position: absolute; }

.relative {
    position: relative; }

.static {
    position: static; }

.top {
    top: 0; }

.left {
    left: 0; }

.right {
    right: 0; }

.bottom {
    bottom: 0; }

.center {
    text-align: center; }

.float_left {
    display: block;
    float: left; }

.float_right {
    display: block;
    float: right; }

.middle{
    vertical-align: middle;}

/*    Шрифты    */

@font-face {
    font-family: 'Rumpelstiltskin';
    src:
        url('fonts/Rumpelstiltskin.ttf.woff') format('woff'),
        url('fonts/Rumpelstiltskin.ttf.svg#Rumpelstiltskin') format('svg'),
        url('fonts/Rumpelstiltskin.ttf.eot'),
        url('fonts/Rumpelstiltskin.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;}

@font-face{
    font-family:"Calibri";
    src:url("http://www.myfontfree.com/data/200/c/calibri/Calibri.ttf");
}

/* Стили */
.ops-navigation{display: none !important;}

.logo_menu{
    cursor: pointer;}

.Rumpelwhite{
    font-family: 'Rumpelstiltskin';
    color: #fff;
   // text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #724da0 0 0 6px, #724da0 0 0 6px, #724da0 0 0 6px, #724da0 0 0 6px, #724da0 0 0 6px, #724da0 0 0 6px, #724da0 0 0 6px, #724da0 0 0 6px;
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #724da0 3px 0px 3px, #724da0 3px 3px 3px, #724da0 0px 3px 3px, #724da0 -3px 3px 3px, #724da0 -3px 0px 3px, #724da0 -3px -3px 3px, #724da0 0px -3px 3px, #724da0 3px -3px 3px;}

.yelowbutton{
        background: #fff90f url("../images/buynow_bg.png") no-repeat 100% 100%;
        background-position: center;
        border: 1px solid #ffbe00;
        box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
        border-radius: 50px;}

.modal_fon{
	display: none;
	background: #000;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0px;
	z-index: 94;
}

.modal{
	display: none;
	position: fixed;
	top: 25vh;
	left: 0;
	width: 100%;
	height: 50vh;
	z-index: 95;
    text-align: center;}    

#mainVideo{
    display: inline-block;}

.first_video_left, .first_video_right {
    display: inline-block;
    width: 25%;
    height: 50vh;}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.video-inner .prev{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
}
.video-inner .next{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
}

.video-inner .prev img,.video-inner .next img{
    width: 50%;
    display: block;
    margin: auto;
    padding-top: 45vh;}

.gen_wrapper{
    height: 100% !important;
}

/*    Ефект кнопок  */
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(0, 0, 0, 0.15), 0 3px 2px -2px rgba(0, 0, 0, 0.2);
	font-weight: bold;
	color: #fff;
	font-size: 1.25em;
	text-shadow: 0 -0.5px 1px rgba(0, 0, 0, 0.15);
}

.button {
	position: relative;
	display: inline-block;
}

.button.styl-material {
	-webkit-transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
	transition: 200ms background cubic-bezier(0.4, 0, 0.2, 1);
}

.button.styl-material:hover,
.button.styl-material:focus {
	outline: none;
	opacity:0.95;
}

.ripple-obj {
	height: 100%;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	fill: #D29C00; //цвет при клике
    border-radius: 80px;
}

.ripple-obj use {
	opacity: 0;
}
/*    Конце ефекта кнопок    */

.buynow{
    animation: buynowpulse 2s linear infinite;}

@keyframes buynowpulse {
    0% {
        box-shadow:0 0 0 0 #FFFB69;
    }
	
    50% {
        box-shadow:0 0 20px 10px #FFFB69;
    }

    100% {
        box-shadow:0 0 0 0 #FFFB69;
    }
}

.form_input{
        animation: form_inputpulse 3s linear infinite;}

@keyframes form_inputpulse {
    0% {
        box-shadow:0 0 0 0 #D1D93F;
    }
	
    50% {
        box-shadow:0 0 20px 10px #D1D93F;
    }

    100% {
        box-shadow:0 0 0 0 #D1D93F;
    }
}

section{    
    width: 100%;
    position: relative;
    z-index: 1;
    height: 100%;}

section.first{
    height: 100%;}

main{
    position: relative;
    z-index: 1;}

section.first .bg, section.second .bg,  section.third .bg, section.fourth .bg,  section.fifth .bg,  section.sixth .bg,  section.seventh .bg,  section.error404 .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }

section.error404{
    position: relative;}

section.error404 div{
    position: relative;
    z-index: 1;
    text-transform: uppercase;}

section.error404 .sos{
    width: 100%;
    padding-top: 7.5vh;
    padding-left: 4%;}

section.error404 .sos .img{
    width: 10%;
    margin: 0 auto;}

section.error404 .sos .img img{
    width: 100%;}

section.error404 .sos .text, , section.error404 .sos .text a{
    width: 100%;
    margin: 0 auto;
    font-size: 3.12vh;
    line-height: 3.52vh;
    /*text-decoration: underline;*/
    text-decoration: none;
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #89d9da 3px 0px 3px, #89d9da 3px 3px 3px, #89d9da 0px 3px 3px, #89d9da -3px 3px 3px, #89d9da -3px 0px 3px, #89d9da -3px -3px 3px, #89d9da 0px -3px 3px, #89d9da 3px -3px 3px;
    padding-top: 0.5%;
    color: white;}

section.error404 .center{
    width: 100%;
    padding-top: 15.5vh;}

section.error404 .center .title{
    font-size: 4.8vh;
    line-height: 5.2vh;
    text-shadow: none;
    text-align: left;
    width: 66%;
    margin: 0 auto;}

section.error404 .center .title span{
    background: linear-gradient(#b1ff6d, #73ae47);
    background-clip: text;
    color: transparent;}

section.error404 .center .text{
    width: 100%;
    padding-top: 1%;}

section.error404 .center .text .left, section.error404 .center .text .right{
    display: inline-block;
    width: 35%;}

section.error404 .center .text .left img{
    width: 80%;}

section.error404 .center .text .right{
    font-size: 2.4vh;
    line-height: 3.4vh;
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #89d9da 3px 0px 3px, #89d9da 3px 3px 3px, #89d9da 0px 3px 3px, #89d9da -3px 3px 3px, #89d9da -3px 0px 3px, #89d9da -3px -3px 3px, #89d9da 0px -3px 3px, #89d9da 3px -3px 3px;
    vertical-align: top;    
     padding-top: 2%;}

section.error404 .center .text .right span{
    float: left;}

section.error404 .logo{
    padding-top: 13vh;
    width: 87%;
    text-align: right;
    position: absolute;
    bottom: 14%;}

section.error404 .rights{
    font-size: 1.76vh;
    line-height: 2.16vh;
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #8eae48 3px 0px 3px, #8eae48 3px 3px 3px, #8eae48 0px 3px 3px, #8eae48 -3px 3px 3px, #8eae48 -3px 0px 3px, #8eae48 -3px -3px 3px, #8eae48 0px -3px 3px, #8eae48 3px -3px 3px;
    position: absolute;
    bottom: 4%;
    width: 100%;}

.tkanks_goodtext{
    width: 50%;
    text-align: center;
    font-size: 4.8vh;
    line-height: 5.2vh;
    text-shadow: none;
    margin: 0 auto;}

.tkanks_goodtext span{
    background: none;
    background-clip: inherit;
    color: #b1ff6d;}

section.first .head, .down_menu{
    z-index: 1;
    position: relative; }

section.first .logotext {
    font-size:  35px;
    line-height: 40px;
    vertical-align: top;
    text-align: center; }

section.first .phone {
    font-size: 40px;
    line-height: 45px; }

section.first .head .logo{
        margin-left: 2%;}

section.first .head .logo img {
    height: calc(100% - 40px);
    margin-left: 10%}

section.first .head {
    width: 75%;
    padding: 3% 15% 0 10%;
    height: 12vh;
    text-align: center; }

section.first .head .medals,
section.first .head .logo{
  max-width: 24%;
}

section.first .head .medals,
section.first .head .logo,
section.first .head .contact {
    height: 100%; }

section.first .head .contact {
    text-align: center; 
    margin-left: 18%;
    width: 30%}

section.first .head .contact .phone{
    margin-top: 5%;
    text-align: left;}

section.first .head .medals img {
    height: 100%; 
    display: inline-block;}

section.first .head .contact .buynow{
    font-size: 25px;
    line-height: 25px;
    text-transform:uppercase;
    padding: 1vh 2vh 0.4vh 2vh;
    margin-top: 3%;}

section.first .head .contact a{
    text-decoration: none;
}

section.first main.first{
    height: 85vh;
    position: relative;}

section.first .social{
    width: 20%;
    text-align: center;
    position: absolute;
    bottom: 21%;
    left:13%;}

section.first .social .title{
    width: 100%;
    display: block;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;}

section.first .social img{
    display: inline-block;}

section.first .center{
    width: 30%;
    position: absolute;
    bottom: 20%;
    left: 35%;}

section.first .center > .title{
    font-size: 82px;
    line-height: 87px;  
    text-transform: uppercase}

section.first .center .down span{
    display: block;
    width: 100%;
    text-transform: uppercase}

section.first .center .down .title{
    font-size: 30px;
    line-height: 35px; 
}

section.first .rights{
    font-size: 22px;
    line-height: 27px; 
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;}

section.second, section.second div{
    text-align: center;}

main.second{
    width: 100%;
    height: 100%;
    position: relative;}

section.second .photostik{
    width: 18%;
    z-index: 1;}

section.second .photostik img{
    width: 100%;}

section.second .photostik.photo1{
    position: absolute;
    top: 10%;
    left: 21%;}

section.second .photostik.photo2{
    position: absolute;
    top: 22%;
    left: 8%;}

section.second .photostik.photo3{
    position: absolute;
    top: 53%;
    left: 13%;}

section.second .photostik.video1{
    position: absolute;
    top: 9%;
    right: 17%;}

section.second .photostik.video2{
    position: absolute;
    top: 26%;
    right: 4%;}

section.second .photostik.video3{
    position: absolute;
    top: 57%;
    right: 14%;}

section.second .hash_bunchems{
    position: relative;
    padding-top: 9%;
    height: 7%;}

section.second .hashlogo{
    height: 100%;
    position: relative;}

section.second .social{
    padding-top: 0.5%;
     text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #8eae48 3px 0px 3px, #8eae48 3px 3px 3px, #8eae48 0px 3px 3px, #8eae48 -3px 3px 3px, #8eae48 -3px 0px 3px, #8eae48 -3px -3px 3px, #8eae48 0px -3px 3px, #8eae48 3px -3px 3px;
    font-size: 25px;
    line-height: 30px;
    text-transform: uppercase;
    position: relative;}

section.second .title{
    padding-top: 1%;
     text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #d7075f 3px 0px 3px, #d7075f 3px 3px 3px, #d7075f 0px 3px 3px, #d7075f -3px 3px 3px, #d7075f -3px 0px 3px, #d7075f -3px -3px 3px, #d7075f 0px -3px 3px, #d7075f 3px -3px 3px;
    font-size: 93px;
    line-height: 98px;
    text-transform: uppercase;
    position: relative;}

section.second .ul{
    padding-top: 2%;
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #8eae48 3px 0px 3px, #8eae48 3px 3px 3px, #8eae48 0px 3px 3px, #8eae48 -3px 3px 3px, #8eae48 -3px 0px 3px, #8eae48 -3px -3px 3px, #8eae48 0px -3px 3px, #8eae48 3px -3px 3px;
    font-size: 45px;
    line-height: 75px;
    text-transform: uppercase;
    position: relative;}

section.second .ul li img{
    height: 3.6vh;
    padding-right: 2%;
    vertical-align: middle;}

section.second .button{
    padding-top: 3%;
    position: relative;}

section.second .button a{
    text-decoration: none;
}

section.second .button .buynow{
    padding: 1vh 6vh;
    border-radius: 80px;
    font-size: 35px;
    line-height: 40px;
    text-transform: uppercase;}

section.second .rights{
    font-size: 22px;
    line-height: 27px;
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #8eae48 3px 0px 3px, #8eae48 3px 3px 3px, #8eae48 0px 3px 3px, #8eae48 -3px 3px 3px, #8eae48 -3px 0px 3px, #8eae48 -3px -3px 3px, #8eae48 0px -3px 3px, #8eae48 3px -3px 3px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;}

section.third main.third{
    padding: 6% 0 0 0;}

section.third .center{
    position: relative}

section.third .center .form_bg{
    position: absolute;
    top: 2%;
    left: 33%;
    width: 33%;
    height: 110%;
    z-index: 0;}

section.third .center div{    
    position: relative;
    z-index: 1;}

section.third .center > .title{
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: -2vh;}

section.third .center > .price{
    font-size: 120px;
    line-height: 93px;
    text-transform: uppercase}

section.third .center .price .rub{
     font-size: 93px;}

section.third .center .buy{
    padding-top: 2%;}

section.third .center .winner{
    position: absolute;
    width: 20%;
    top: 17%;
    right: 17%;}

section.third .center .winner .title{
    font-size: 30px;
    line-height: 35px;
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #90aa4a 3px 0px 3px, #90aa4a 3px 3px 3px, #90aa4a 0px 3px 3px, #90aa4a -3px 3px 3px, #90aa4a -3px 0px 3px, #90aa4a -3px -3px 3px, #90aa4a 0px -3px 3px, #90aa4a 3px -3px 3px;
    text-transform: uppercase;}

section.third .center .winner .medals{
    width: 100%;
    text-align: center;}

section.third .center .winner .medals img{
    width: 25%;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top: 5%;}

section.third .center .buy{
     width: 50%;
    margin: 0 auto;}

section.third .center .buy .title{
    font-size: 30px;
    line-height: 40px;
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #a3ffff 3px 0px 3px, #a3ffff 3px 3px 3px, #a3ffff 0px 3px 3px, #a3ffff -3px 3px 3px, #a3ffff -3px 0px 3px, #a3ffff -3px -3px 3px, #a3ffff 0px -3px 3px, #a3ffff 3px -3px 3px;
     text-transform: uppercase;}

section.third .center .buy .form{
    width: 100%;
    padding-bottom: 4%;}

section.third .center .buy .form input{
    display: block;
    margin: 1% auto 0 auto;   }

section.third .center .buy .form input[type="text"],
section.third .center .buy .form input[type="phone"]{
    color: black;
    padding: 5px 20px 0 20px;
    width: 25%;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;}

section.third .center .buy .form input[type="button"], section.third .center .buy .form input[type="submit"]{
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px;
    background: linear-gradient(#bdc34a, #8d9237);
    border: 0;
    border-bottom: 2px solid #74782c;
    border-radius: 20px;
    font-size: 40px;
    line-height: 45px;
    padding: 10px 20px;
    margin: 4% auto 0 auto;}

section.third .center .buy .form input[type="button"]:hover, section.third .center .buy .form input[type="submit"]:hover{
    background: linear-gradient(#bdc34a, #bdc34a);
}
section.third .center .buy .form input[type="button"]:active, section.third .center .buy .form input[type="submit"]:active{
    padding: 1.4vh 2.8vh 1.0vh 2.8vh;
}

section.third .promo{
    text-align: center;
    padding-top: 1%;
    position: relative;
    z-index: 1;}

section.third .promo .title{
    width: 50%;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    margin: 0 auto;
    position: relative;
    z-index: 1;}

section.third .promo .promo_bg{
    position: absolute;
    top: 25%;
    left: 26%;
    width: 48%;
    height: 100%;
    z-index: 0;}

section.third .promo .form{
    padding-top: 1%;
    font-family: Arial;
    font-size: 13px;
    line-height: 18px;
    text-shadow: none;
    color: black;
    width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 1;}

section.third .promo .form .text{
    padding: 0 25%;}

section.third .promo .form input[type="text"]{
    color: black;
    padding: 5px 20px;
    width: 30%;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1% 0;}

section.third .promo .form .socialtext{
    padding: 0 20%;}

section.third .promo .social{
   height: 6vh; 
}

section.third .promo .social img{
    height: 100%;
    margin-right: 1%;}

section.third .rights{
    z-index: 1;
    font-size: 22px;
    line-height: 27px;
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #8eae48 3px 0px 3px, #8eae48 3px 3px 3px, #8eae48 0px 3px 3px, #8eae48 -3px 3px 3px, #8eae48 -3px 0px 3px, #8eae48 -3px -3px 3px, #8eae48 0px -3px 3px, #8eae48 3px -3px 3px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;}

section.fourth main{
    text-align: center;
    text-transform: uppercase;}

section.fourth .title{
    padding-top: 8%;
    font-size: 60px;
    line-height: 78px;}

section.fourth .content{
    font-size: 30px;
    line-height: 35px;}

section.fourth .content .line{ 
    width: 100%;
    padding-top: 2%;}

section.fourth .content .line .item{
    width: 20%;
    display: inline-block;
    vertical-align: top;}

section.fourth .content .line .item .liimg, section.fourth .content .line .item span{
    display: inline-block;}

section.fourth .content .line .item .liimg{
    vertical-align: top;
    margin-top: 7%;}

section.fourth .content .text{
    width: 100%;}

section.fourth .content .text.first{
    padding-top: 3%;}

section.fourth .content .text.second{
    padding-top: 0;}

section.fourth .content .text span{
    display: block;
    padding-top: 1%;}

section.fourth .info{
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #fbf051 3px 0px 3px, #fbf051 3px 3px 3px, #fbf051 0px 3px 3px, #fbf051 -3px 3px 3px, #fbf051 -3px 0px 3px, #fbf051 -3px -3px 3px, #fbf051 0px -3px 3px, #fbf051 3px -3px 3px;
    font-size: 25px;
    line-height: 30px;
    padding-top: 3%;}

section.fourth .rights{
    font-size: 24px;
    line-height: 28px;
    padding-top: 2%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;}

section.fifth main{
    text-transform: uppercase;
    height: 100%;}

section.fifth .title{
    width: 100%;
    text-align: center;
    padding-top: 7%;}

section.fifth .item, section.fifth .item div{
    position: relative;}

section.fifth .item .cloud{
    position: absolute;
    top:0;
    left: 10%;
    width: 80%;}

section.fifth .title span{
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #e36288 3px 0px 3px, #e36288 3px 3px 3px, #e36288 0px 3px 3px, #e36288 -3px 3px 3px, #e36288 -3px 0px 3px, #e36288 -3px -3px 3px, #e36288 0px -3px 3px, #e36288 3px -3px 3px;
    font-size: 60px;
    line-height: 65px;}

section.fifth .left{width: 49%; display: inline-block; height: 100%;}
section.fifth .right{width: 49%; display: inline-block; height: 100%;vertical-align: top;}

section.fifth .left .item{
    width: 50%;
    margin-left: 36%;
    text-align: center;}

section.fifth .left .item:nth-child(2){
    margin-top: 25%;
    }

section.fifth .left .item .title{
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #8eae48 3px 0px 3px, #8eae48 3px 3px 3px, #8eae48 0px 3px 3px, #8eae48 -3px 3px 3px, #8eae48 -3px 0px 3px, #8eae48 -3px -3px 3px, #8eae48 0px -3px 3px, #8eae48 3px -3px 3px;
    font-size: 80px;
    line-height: 60px;
    padding-top: 6%;}

section.fifth .left .item .descr{
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #8eae48 3px 0px 3px, #8eae48 3px 3px 3px, #8eae48 0px 3px 3px, #8eae48 -3px 3px 3px, #8eae48 -3px 0px 3px, #8eae48 -3px -3px 3px, #8eae48 0px -3px 3px, #8eae48 3px -3px 3px;
    font-size: 40px;
    line-height: 45px;}

section.fifth .left .item .text{
    text-shadow: none;
    color: #000;
    font-size: 25px;}

section.fifth .right .item{
    width: 50%;
    margin-left: 28%;
    text-align: center;}

section.fifth .right .item:nth-child(2){
    margin-top: 27%;
    }

section.fifth .right .item .title{
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #8eae48 3px 0px 3px, #8eae48 3px 3px 3px, #8eae48 0px 3px 3px, #8eae48 -3px 3px 3px, #8eae48 -3px 0px 3px, #8eae48 -3px -3px 3px, #8eae48 0px -3px 3px, #8eae48 3px -3px 3px;
    font-size: 90px;
    line-height: 95px;
    padding-top: 7%;}

section.fifth .right .item .descr{
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #8eae48 3px 0px 3px, #8eae48 3px 3px 3px, #8eae48 0px 3px 3px, #8eae48 -3px 3px 3px, #8eae48 -3px 0px 3px, #8eae48 -3px -3px 3px, #8eae48 0px -3px 3px, #8eae48 3px -3px 3px;
    font-size: 30px;
    line-height: 35px;}

section.fifth .right .item .descr:nth-child(2){
    padding-top: 20%;}


section.fifth .button .buynow{
    padding: 1vh 6vh;
    border-radius: 80px;
    font-size: 35px;
    line-height: 40px;
    text-transform: uppercase;}

section.fifth .rights{
    font-size: 22px;
    line-height: 27px;
    padding-top: 1%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;}

section.sixth .title{
    padding-top: 7%;
    text-align: center;
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #c44430 3px 0px 3px, #c44430 3px 3px 3px, #c44430 0px 3px 3px, #c44430 -3px 3px 3px, #c44430 -3px 0px 3px, #c44430 -3px -3px 3px, #c44430 0px -3px 3px, #c44430 3px -3px 3px;
    font-size: 60px;
    line-height: 65px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;}

section.sixth .left, section.sixth .right{
    width: 19%;
    display: inline-block;
    position: relative;
    z-index: 2;
    vertical-align: middle;}

section.sixth .arrovs{
    cursor: pointer;}

section.sixth .content{
    vertical-align: middle;
    display: inline-block;
    width: 100%;
}

section.sixth .left .arrovs, section.sixth .right .arrovs{
    width: 30%;}

section.sixth .left .arrovs{
    float: right;}

section.sixth .right .arrovs{
    float: left;}

section.sixth .center{
    width: 60%;
    display: inline-block;
    position: relative;
    vertical-align: middle;}

section.sixth .center .book{
    width: 110%;
    position:absolute;
    top:-9%;
    left:-5%;
    z-indax: 0;}

section.sixth .center div{
    position: relative;
    z-index: 1;
    text-shadow: none;
    vertical-align: top;}

section.sixth .center .title{
    padding-top: 0;
    font-family: "Calibri";
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-align: left;
    text-transform: none;}

section.sixth .center .content{
    padding-top: 7%;
    font-family: "Calibri";
    font-size: 20px;
    line-height: 25px;}

section.sixth .center .left{
    padding: 13% 7% 13% 0;}

section.sixth .center .right{
    padding: 13% 0 13% 7%;}

section.sixth .center .left, section.sixth .center .right{
    width: 35%;
    text-align: left;
    text-shadow: none;
    color: #000;}

section.sixth .rights{
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #8eae48 3px 0px 3px, #8eae48 3px 3px 3px, #8eae48 0px 3px 3px, #8eae48 -3px 3px 3px, #8eae48 -3px 0px 3px, #8eae48 -3px -3px 3px, #8eae48 0px -3px 3px, #8eae48 3px -3px 3px;}

section.seventh .title{
    padding-top: 8%;}

section.seventh .title span, section.seventh .content .title{
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #89d9da 3px 0px 3px, #89d9da 3px 3px 3px, #89d9da 0px 3px 3px, #89d9da -3px 3px 3px, #89d9da -3px 0px 3px, #89d9da -3px -3px 3px, #89d9da 0px -3px 3px, #89d9da 3px -3px 3px;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
    display: block;
    width: 100%;}

section.seventh .button{
    padding-top: 2%;}

section.seventh .left .button{
    padding-right: 4%;}

section.seventh .green_button{
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px;
    background: linear-gradient(#bdc34a, #8d9237);
    border: 0;
    border-bottom: 2px solid #74782c;
    border-radius: 20px;
    font-size: 25px;
    line-height: 30px;
    padding: 1.2vh 2.8vh;
    margin: 4% auto 0 auto;}

section.seventh .green_button:hover{
    background: linear-gradient(#bdc34a, #bdc34a);
}
section.seventh .green_button:active{
    padding: 1.4vh 2.8vh 1.0vh 2.8vh;
}

section.seventh .content{
    width: 100%;}

section.seventh .content .left,section.seventh .content .right {
    width: 39%;
    display: inline-block;}    

section.seventh .content .left{
    text-align: right;
    padding-right: 10%;}

section.seventh .content .right{
    text-align: left;
    padding-left: 10%;}

section.seventh .bottom{
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #89d9da 3px 0px 3px, #89d9da 3px 3px 3px, #89d9da 0px 3px 3px, #89d9da -3px 3px 3px, #89d9da -3px 0px 3px, #89d9da -3px -3px 3px, #89d9da 0px -3px 3px, #89d9da 3px -3px 3px;
    text-transform: uppercase;}


section.seventh .bottom .social .title{
    font-size: 35px;
    line-height: 40px;
    padding-top: 4%;}

section.seventh .bottom .info .title{
   padding-top: 0;}

section.seventh .bottom .info .title{
   padding-top: 0;}

section.seventh .bottom .info .text{
    font-size: 15px;
    line-height: 20px;
    padding-top: 1%;}

section.seventh .bottom .rights{
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #8eae48 3px 0px 3px, #8eae48 3px 3px 3px, #8eae48 0px 3px 3px, #8eae48 -3px 3px 3px, #8eae48 -3px 0px 3px, #8eae48 -3px -3px 3px, #8eae48 0px -3px 3px, #8eae48 3px -3px 3px;
    text-decoration: none;
    color: #fff;}

section.seventh .bottom .rights li a{
    text-decoration: none;
    color: #fff;}

section.seventh .bottom .rights li{
    display: inline-block;
    padding: 0 2%;}

section.seventh .bottom .social .social_buttons img{
    display: inline-block;
    padding: 1% 1% 1% 0;
    width: 3%;}

.down_menu {
    height: 7vh;
    width: 100%;
    background-color: #fff;
    z-index: 50; 
    position: fixed;
    top: 0;
    box-shadow: 0px 15px 50px 0px rgba(0,0,0,0.75);
    display: none;}

.down_menu .content {
    height: 5vh;
    margin: 1vh 0; 
    overflow: hidden;}

.down_menu .content .logo {
    height: 100%;
    width: auto;
    padding-left: 5%}

.down_menu .content .menu{
    vertical-align: middle;
    display: inline-block;
    height: 140%;
    width: 80%}

.down_menu .content li {
    display: inline-block;
    color: #fff; 
    padding-left: 5%;
    font-size: 25px;
    line-height: 30px;
    cursor: default;}

.down_menu .content li.phone{
    font-size: 35px;
    line-height: 40px;
    float: right;}

.down_menu .content li a{
    color: white;
    text-decoration: none;}

.down_menu .content li a:hover{
    text-shadow: #000 1px 0px, #000 1px 1px, #000 0px 1px, #000 -1px 1px, #000 -1px 0px, #000 -1px -1px, #000 0px -1px, #000 1px -1px, #fbb80b 3px 0px 3px, #fbb80b 3px 3px 3px, #fbb80b 0px 3px 3px, #fbb80b -3px 3px 3px, #fbb80b -3px 0px 3px, #fbb80b -3px -3px 3px, #fbb80b 0px -3px 3px, #fbb80b 3px -3px 3px;
    cursor: pointer;
}

.genimg {
    width: calc(100vw - 17px);
    height: auto; }

.genimg404 {
    width: calc(100vw - 17px);
    height: 100%; }

/* Container */
.container {
	width: 100vw;
	height: 100%;
	border: 20px solid #fff;
	position: relative;
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-align-items: center;
	align-items: center;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
}

.codrops-links::after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 2px;
	height: 100%;
	margin-left: -1px;
	background: #ddd;
	-webkit-transform: rotate3d(0,0,1,22.5deg);
	transform: rotate3d(0,0,1,22.5deg);
}

.codrops-icon {
	display: inline-block;
	width: 1.5em;
	margin: 0.5em;
	padding: 0em 0;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	margin: 0 5px;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	speak: none;
}

.codrops-icon--drop:before {
	content: '\e001';
}

.codrops-icon--prev:before {
	content: '\e004';
}

/* Image stack */
.deco-stack {
	width: 100%;
	margin: 1em 0;
	text-align: center;
	white-space: nowrap;
}

.deco-stack__img {
	min-width: 200px;
	max-width: 50%;
	min-height: 200px;
	max-height: 100%;
	margin: 0 -60px;
	border: 10px solid #fff;
	outline: 1px solid transparent; /* For FF */
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	background: #aaa;
}

.deco-stack__img--rotation-1 {
	-webkit-transform: rotate3d(0,0,1,-8deg);
	transform: rotate3d(0,0,1,-8deg);
}

.deco-stack__img--rotation-2 {
	-webkit-transform: rotate3d(0,0,1,-1deg);
	transform: rotate3d(0,0,1,-1deg);
}

.deco-stack__img--rotation-3 {
	-webkit-transform: rotate3d(0,0,1,9deg);
	transform: rotate3d(0,0,1,9deg);
}

.video-wrap {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}

.video-wrap--show {
	pointer-events: auto;
}

.video-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	opacity: 0;
	background: black;
}

.video-wrap--show .video-inner {
	opacity: 1;
}

.video-player {
	position: absolute;
	top: 50%;
	width: 100%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

/* Loader */
.loader {
	font-size: 2.5em;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.video-loaded .loader {
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

/* Button */
.action {
	font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 1.15em;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 1em 2em;
	color: #fff;
	border: 2px solid;
	border-radius: 40px;
	background: none;
	-webkit-flex: none;
	flex: none;
}

.action:focus {
	outline: none;
}

.action__label {
	display: inline-block;
	margin: 0 0 0 0.75em;
}

.action__label--hidden {
	position: absolute;
	top: 200%;
}

.action--play {
	display: block;
	margin: 1em auto;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.3s 0.1s;
	transition: opacity 0.3s 0.1s;
}

.video-loaded .action--play {
	opacity: 1;
	pointer-events: auto;
}

.action--close {
	line-height: 1;
	position: absolute;
	z-index: 1000;
	top: 30px;
	right: 30px;
	width: 60px;
	height: 60px;
	padding: 0;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: scale3d(0.7,0.7,1);
	transform: scale3d(0.7,0.7,1);
}

.video-wrap--show .action--close {
	opacity: 1;
	-webkit-transition-delay: 1.2s;
	transition-delay: 1.2s;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

@media screen and (min-width: 25em) {
	.deco-stack__img {
		width: 20vw;
		height: 20vw;
	}
	.video-inner {
		width: 30vw;
		height: 30vw;
		border: 20px solid #fff;
		-webkit-transform: scale3d(0.1,0.1,1) rotate3d(0,0,1,-5deg);
		transform: scale3d(0.1,0.1,1) rotate3d(0,0,1,-5deg);
	}
	.video-wrap--show .video-inner {
		opacity: 0;
		-webkit-animation: showVideo-1 1.25s forwards;
		animation: showVideo-1 1.25s forwards;
	}
	.video-wrap--hide .video-inner {
		-webkit-animation: hideVideo 1.25s forwards;
		animation: hideVideo 1.25s forwards;
	}
	.video-player {
		left: 50%;
		width: auto;
		height: 100%;
		-webkit-transition: -webkit-transform 1s;
		transition: transform 1s;
		-webkit-transform: translate3d(-50%,-50%,0) scale3d(0.7,0.7,1) rotate3d(0,0,1,5deg);
		transform: translate3d(-50%,-50%,0) scale3d(0.7,0.7,1) rotate3d(0,0,1,5deg);
	}
	.video-wrap--show .video-player,
	.video-wrap--hide .video-player {
		-webkit-transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
		transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
	}
}

/* This is the same as an aspect ratio of 16/9.
Here we take the viewport height as main measure
and size the video-inner accordingly.
The video itself will use the viewport width as main 
measure so that we ensure a filling of the screen.
*/
@media screen and (min-width: 25em) and (min-aspect-ratio: 1280/720) {
	.deco-stack__img {
		width: 20vh;
		height: 20vh;
	}
	.video-inner {
		width: 30vh;
		height: 30vh;
	}
	.video-wrap--show .video-inner {
		-webkit-animation: showVideo-2 1.25s forwards;
		animation: showVideo-2 1.25s forwards;
	}
	.video-player {
		width: 100vw;
		height: auto;
	}	
}

/* Animation for showing the video wrapper */
@-webkit-keyframes showVideo-1 {
	50% {
		width: 50vw;
		height: 50vw;
		opacity: 1;
		-webkit-transform: scale3d(0.5,0.5,1) rotate3d(0,0,1,-5deg);
		transform: scale3d(0.5,0.5,1) rotate3d(0,0,1,-5deg);
	}
	100% {
		width: 100vw;
		height: 100%;
		opacity: 1;
		-webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
		transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
	}
}

@keyframes showVideo-1 {
	50% {
		width: 50vw;
		height: 50vw;
		opacity: 1;
		-webkit-transform: scale3d(0.5,0.5,1) rotate3d(0,0,1,-5deg);
		transform: scale3d(0.5,0.5,1) rotate3d(0,0,1,-5deg);
	}
	100% {
		width: 100vw;
		height: 100%;
		opacity: 1;
		-webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
		transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
	}
}

/* Alternate animation for showing the video wrapper */
@-webkit-keyframes showVideo-2 {
	50% {
		width: 50vh;
		height: 50vh;
		opacity: 1;
		-webkit-transform: scale3d(0.5,0.5,1) rotate3d(0,0,1,-5deg);
		transform: scale3d(0.5,0.5,1) rotate3d(0,0,1,-5deg);
	}
	100% {
		width: 100vw;
		height: 100%;
		opacity: 1;
		-webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
		transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
	}
}

@keyframes showVideo-2 {
	50% {
		width: 50vh;
		height: 50vh;
		opacity: 1;
		-webkit-transform: scale3d(0.5,0.5,1) rotate3d(0,0,1,-5deg);
		transform: scale3d(0.5,0.5,1) rotate3d(0,0,1,-5deg);
	}
	100% {
		width: 100vw;
		height: 100%;
		opacity: 1;
		-webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
		transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
	}
}

/* Animation for hiding the video wrapper */
@-webkit-keyframes hideVideo {
	0% {
		width: 100vw;
		height: 100%;
		opacity: 1;
		-webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
		transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
	}
	100% {
		width: 100vw;
		height: 100%;
		opacity: 0;
		-webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
		transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
	}
}

@keyframes hideVideo {
	0% {
		width: 100vw;
		height: 100%;
		opacity: 1;
		-webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
		transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
	}
	100% {
		width: 100vw;
		height: 100%;
		opacity: 0;
		-webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
		transform: scale3d(1,1,1) rotate3d(0,0,1,0deg);
	}
}